.details-container {
  margin: 2rem;

  .detailsImg {
    display: flex;
    justify-content: center;
    img {
      height: 50vh;
    }
  }
  .detailsHeader {
    h1 {
      font-size: 52px;
      margin: 2rem auto auto auto;
    }
    h2 {
      margin-top: 0;
    }
  }
  .details {
    font-weight: 500px;
    font-size: 15px;
    .details-items {
      color: var(--greyColor);
      display: flex;
      justify-content: space-between;
      p {
        margin: 0;
      }
    }
    p {
      margin-bottom: 2rem;
    }
  }
  .arrowBtn {
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 50%;
    border: none;
  }
}
